<div class="col s6 m6">
  <div class="card">
    <div class="card-image">
      {{!-- use image of whiteboard here instead of a set image --}}
      <img src="images/whiteboard-example.png">
      <a href="/board/{{id}}" class="btn-floating halfway-fab waves-effect waves-light red"><i
          class="material-icons">add</i></a>
    </div>
    <div class="card-content">
      <span class="card-title">
        <a href="/board/{{id}}" class="board-title">{{title}}</a>
      </span>
      <p class="username">by {{user.username}} on {{created_at}}</p>
    </div>
  </div>
</div>
